<div id="<%= dom_id brewery %>">

  <h1>
    <%= brewery.name %>
  </h1>

  <p>
    Beers count: <%= brewery.beers.count %>
  </p>

  <p>
    <em>Established in: <%= brewery.year %></em>
  </p>

  <div>
    <% brewery.beers.each do |beer| %>
      <%= link_to beer.name, beer %>
    <% end %>
  </div>

  <div>
    <% if brewery.ratings.any? %>
      <p>Brewery has <%= pluralize(brewery.ratings.count, 'rating') %> with average of <%= brewery.average_rating %></p>
    <% else %>
      <p>Brewery has no ratings</p>
    <% end %>
  </div>

</div>
