<div id="<%= dom_id brewery %>">

  <h1>
    <%= brewery.name %>
  </h1>

  <p>
    Beers count: <%= brewery.beers.count %>
  </p>

  <p>
    <em>Established in: <%= brewery.year %></em>
  </p>

  <div>
    <% brewery.beers.each do |beer| %>
      <%= link_to beer.name, beer %>
    <% end %>
  </div>

</div>
