<div id="<%= dom_id beer %>" class="p-8">
  <p>
    <strong>Name:</strong>
    <%= link_to beer.name, beer %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= beer.style %>
  </p>

  <p>
    <strong>Brewery:</strong>
    <%= link_to beer.brewery.name, beer.brewery %>
  </p>

  <div>
    <% if beer.ratings.any? %>
      <p>Beer has <%= pluralize(beer.ratings.count, 'rating') %> with average of <%= beer.average_rating %></p>
    <% else %>
      <p>Beer has no ratings</p>
    <% end %>
  </div>

</div>
